[submodule "poky"]
	path = poky
	url = git@github.com:zackthedelta/poky.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git@github.com:zackthedelta/meta-raspberrypi.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:zackthedelta/meta-openembedded.git
