[Unit]
Description=Pi Camera RTSP Stream
Wants=network-online.target
After=network-online.target picam-mjpeg.service
Requires=picam-mjpeg.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/picam-rtsp
ExecStartPre=/usr/bin/picam-wait-network 60
ExecStart=/usr/bin/picam-rtsp
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
